[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
pyside6 = "*"
numpy = "*"
ultralytics = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
opencv-contrib-python = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
